boto3==1.42.25
celery[redis]==5.6.3
requests==2.32.3
Django>=6.0.0,<6.1.0
django-storages==1.14.6
django-webpack-loader==3.2.3
dj-database-url==3.1.0
dj-control-room[redis,celery,signals]==1.8.1
django-celery-results==2.6.0
gunicorn==23.0.0
pillow_heif==1.1.1
pip==25.3
psycopg2-binary==2.9.11
pytest==9.0.2
pytest-django
pytest-mock
factory-boy
sentry-sdk==2.49.0
setuptools==80.9.0
wagtail==7.2.1
wagtail-markdown
whitenoise==6.11.0
mistralai==1.10.0
djangorestframework==3.16.1
pypandoc==1.17
weasyprint==68.1
django-filter==24.3
tqdm==4.68
